 :root {
  --primary-sunglow: #ffd034;
  --secondary-white: #ffff;
  --secondary-light-blue: #cadbf8;
  --secondary-catalina: #06327d;
  --secondary-bluetiful: #2b70e4;
  --secondary-black: #000000;
  --secondary-vegan: #209d5c;

}

nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
  text-decoration: none;
}

a:hover {
  display: block;
  text-decoration: none;
}

a:visited {
    background-color: var(--secondary-vegan);
    color: var(--primary-sunglow);
}


h1 {
  line-height: 1.1667;
  font-size: 3rem;
  font-weight: 300;
  margin: 0;
  text-transform: upppercase;
  margin: auto;
  padding-left: 3rem;
  
 }

nav li {
  text-decoration: none;
  list-style-type: none;
  margin-bottom: 2rem;

}
nav {
  display: flex;
  flex-wrap:wrap;
  gap: 2rem;
  border-bottom: 20px solid var(--primary-sunglow);
  padding: 1rem;
  justify-content: space-between;
  
}

.hero { 
  background-color: var(--secondary-white);          
  margin-bottom: 1rem;
  color: var(--secondary-black);
  display: flex;
  align-items: flex-start;
  }


 .hero-img {
  display: block;
  padding-left: 4rem;
  max-height: 400%;
  margin-bottom: 3rem;
 }
 
 


 .button {
  background-color: var(--secondary-vegan);
  border: 2px solid var(--secondary-black)black;
  padding: .5rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--secondary-white);
  border-radius: 10px;
  margin-top: 4rem;
  margin-left: 4rem;
  margin-bottom: 3rem;
  display: inline-block;
  width: max-content;
 }


a {
  text-decoration: none;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--secondary-catalina);
    color: var(--secondary-white);
}

header {
    background-color: var(--secondary-catalina);
    padding: 15px;
}

nav {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.logo img {
    width: 110px;
    height: auto;
    display: block;
}



nav li {
    text-decoration: none;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}




.card-container {
    max-width: 90%;
    max-width: 900px;
    margin: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}





footer {
  color: var(--secondary-white);
  background-color: var(--secondary-catalina);
  border-top: 40px solid var(--primary-sunglow);
  align-items: center;
  text-align: center;
  padding-bottom: 4rem;
  
} 