 :root {
  --primary-sunglow: #ffd034;
  --secondary-white: #ffff;
  --secondary-light-blue: #cadbf8;
  --secondary-catalina: #06327d;
  --secondary-bluetiful: #2b70e4;
  --secondary-black: #000000;
  --secondary-vegan: #209d5c;

}
body {
  background-color: var(--secondary-catalina);
}
img 
  {
  max-width: 40%;
  padding-left: 1.5rem;
  padding-top: 1.5rem;
}

header {
    
    padding: 15px;
    background-color: var(--secondary-catalina);
}

nav {
  
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 11px;
    color: var(--secondary-white);
    border-bottom: 20px solid var(--primary-sunglow);
}





nav li {
    text-decoration: none;
    font-size: 20px;
}


nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  padding: 10px;
  margin: .5rem;
  justify-content: center;
  text-decoration: none;
  
}


a:hover {
  display: block;
  text-decoration: none;
}

a:visited {
    background-color: var(--secondary-vegan);
    color: var(--primary-white);
}

.logo img {
    width: 110px;
    height: auto;
    display: block;
}



 .button {
  background-color: var(--secondary-vegan);
  border: 2px solid var(--secondary-black)black;
  padding: .5rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--secondary-white);
  border-radius: 10px;
  margin-top: 4rem;
  margin-left: 40rem;
  margin-bottom: 3rem;
  display: inline-block;
  width: max-content;
 }


a {
  text-decoration: none;
}



.latte {
background-color: var(--secondary-white);
display: flex;
flex-wrap: wrap;
}

p {
  padding-left: 30rem;

}


h1 {

  padding-left: 13rem;
}
footer {
  color: var(--secondary-white);
  background-color: var(--secondary-catalina);
  border-top: 40px solid var(--primary-sunglow);
  align-items: center;
  text-align: center;
  padding-bottom: 4rem;
  
} 