 :root {
  --primary-sunglow: #ffd034;
  --secondary-white: #ffff;
  --secondary-light-blue: #cadbf8;
  --secondary-catalina: #06327d;
  --secondary-bluetiful: #2b70e4;
  --secondary-black: #000000;
  --secondary-vegan: #209d5c;

}

img 
  {
  max-width: 40%;
  padding-left: 1.5rem;
  padding-top: 1.5rem;
}

header {
    
    padding: 15px;
    background-color: var(--secondary-catalina);
      border-bottom: 20px solid var(--primary-sunglow);
}

nav {
  
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
   
    gap: 11px;
    color: var(--secondary-white);
  
}



nav a {
  color: var(--secondary-white);
}

nav li {
    text-decoration: none;
    font-size: 20px;
}


nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  padding: 10px;
  margin: .5rem;
  justify-content: center;
  text-decoration: none;
  
  
}

body {
  background-color: var(--secondary-catalina);
}
a:hover {
  display: block;
  text-decoration: none;
}

a:visited {
    background-color: var(--secondary-vegan);
    color: var(--primary-white);
}


.logo {

  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}


.logo img {
    width: 110px;
    height: auto;
    display: block;
    
}



 .button {
  background-color: var(--secondary-vegan);
  border: 2px solid var(--secondary-black)black;
  padding: .5rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--secondary-white);
  border-radius: 10px;
  
  display: inline-block;
  width: max-content;
 }


a {
  text-decoration: none;
}
.card-container {
    border-bottom: 20px solid var(--primary-sunglow);
}


.latte {
  
background-color: var(--secondary-white);
display: flex;
gap: 3rem;
align-items: center;
}

.form {
  background-color: var(--secondary-white);
  border-radius: 4px;
  background-color: var(--secondary-white);
  padding: 20px;
}

.inquiry {
  background-color: var(--secondary-light-blue);
  padding: 4rem;

}

footer {
  color: var(--secondary-white);
  background-color: var(--secondary-catalina);
  border-top: 20px solid var(--primary-sunglow);
  align-items: center;
  text-align: center;
  padding-bottom: 4rem;
  
} 




@media (min-width: 1000px)
{

nav {

 justify-content: space-between;
flex-wrap: nowrap;
}
}
