 :root {
  --primary-sunglow: #ffd034;
  --secondary-white: #ffff;
  --secondary-light-blue: #cadbf8;
  --secondary-catalina: #06327d;
  --secondary-bluetiful: #2b70e4;
  --secondary-black: #000000;
  --secondary-vegan: #209d5c;

}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

.whole-conainer {
  max-width: 1200px;
}


 nav .logo {
  max-width: 1110%;

  

 }
nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style-type: none;
  
  margin: 0;
  padding-right: 5rem;
  justify-content: center;
  text-decoration: none;
  list-style: none;
  padding-bottom: 2rem;

 }

nav a {
  text-decoration: none;

}




nav li {
  text-decoration: none;
  list-style-type: none;
  margin-bottom: 3rem;

}
nav {

  color: var(--secondary-white);
  background-color: var(--secondary-catalina);
  text-align: center;
  justify-items:center;
  margin-bottom: 3rem;
  flex-wrap: wrap;
  display: flex;

}

 

a:hover {
  color: var(--primary-sunglow);
}

a:visited {
 color: var(--secondary-white);
 }

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.125rem;
  margin: 0;
  padding: auto;
  line-height: 1.5;
  

}


.whole-container{
  background-color: var(--secondary-catalina);
}
header {

background-color: var(--secondary-catalina);

}



.hero { 
  background-color: var(--secondary-white);
  margin-bottom: 0;
  color: var(--secondary-black);

  }



 .hero-text {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  padding-left: 3rem;

 }

.button-main {
  background-color: var(--secondary-vegan);
  border: 2px solid var(--secondary-black)black;
  padding: .5rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--secondary-white);
  border-radius: 10px;
  margin-top: 4rem;
  margin-left: 4rem;
  margin-bottom: 3rem;
  display: inline-block;
  width: max-content;

}


  .main {
 background: var(--secondary-light-blue);

  padding-bottom: 5rem;
  padding-top: 3rem;



}


.blue-button {
  background-color: var(--secondary-catalina);
  border: 2px solid var(--secondary-black);
  padding: .5rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--secondary-white);
  border-radius: 10px;
  margin-top: 1px;
  margin-left: 1px;
  margin-bottom: 2rem;
  display: inline-block;
  width: max-content;
} 


h1 {

  line-height: 1.1667;
  font-size: 3rem;
  font-weight: 300;

  text-transform: uppercase;

  padding-left: 2rem;
  padding-bottom: 2rem;

 }




h2 {
  padding-top: 3rem;
  font-size: 2.5rem;
  line-height: 1.1667;
  font-weight: 300;
   text-transform: upppercase;
  
}
  
h3 {  

  margin: 2rem;
  font-size: 1.75rem;
  line-height: 1.1667;
  font-weight: 300;
   
}


p {

  font-weight: 700;
  font-size: 1.3rem;
  
} 


img {

  margin: auto;
  padding: auto;
  border-radius: .5rem;
  max-width: 80%;
}
.card {
  background-color: var(--secondary-light-blue);
}
footer {
  
  color: var(--secondary-white);
  background-color: var(--secondary-catalina);
  border-top: 40px solid var(--primary-sunglow);
  align-items: center;
  text-align: center;
  padding-bottom: 8em;
}
@media (min-width: 650px) {
  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
  border-top: 20px solid var(--primary-sunglow);
  
  }

  .hero-image {
    width: 100%;
    height: 100%;
  
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 28px;
  }

  


  .hero-text p {
   
    margin-bottom: 20px;
  }

  .main {
    padding: 24px;
  }

  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 22px;
    padding: 0;
  }

  .hero-card-1 {
    display: flex;
    flex-direction: column;
  }

  .card img {
    height: 160px;
  }

 
  

  
}


@media (min-width: 1000px) {





  body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.125rem;
  margin: 0;
  padding: auto;
  line-height: 1.5;
  

}

.whole-container {
  max-width: 1200px;
  margin: auto;
}

header {
  padding: 18px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--secondary-white);
}

.logo img {
  width: 160px;
  height: auto;
  display: block;
  padding-bottom: 30px;
}

nav h1 {
  font-size: 3rem;
  color: var(--secondary-white);
 gap: 2px;
  font-weight: 300;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  
  padding: 0;
}

nav a {
  text-decoration: none;
  color: var(--secondary-white);
  font-size: 0.95rem;
  font-weight: 600;
}

.hero {
  background: var(--secondary-white);
  border-top: 20px solid var(--primary-sunglow);
}

.hero-image {
  width: 100%;
  display: block;
  
}

.hero-text {
  padding: 45px;
}

.hero-text h1 {
  font-size: 2.3rem;
  font-weight: 500;
  margin: 0 0 24px;
  color: var(--secondary-black);
}

.hero-text p {
 

  color: var(--secondary-black);
}

.button-main
{  display: inline-block;
  text-decoration: none;
  color: var(--secondary-white);
  padding:  16px;
  border-radius: 6px;
  font-weight: 700;
  font-size: 0.9rem;
    background: var(--secondary-vegan);
}

.blue-button {
  display: inline-block;
  text-decoration: none;
  color: var(--secondary-white);
  padding: 10px;
  border-radius:12px;
  font-weight: 700;
  font-size: 0.9rem;

}




.main {
  background: var(--secondary-light-blue);
  padding: 4rem;
}

.main h2 {
 
  font-weight: 300;
  margin:  40px;
  color: var(--secondary-black);
  padding-top: 3rem;
  font-size: 2.5rem;
  line-height: 1.1667;
  font-weight: 300;
}

.card {
  background: var(--secondary-light-blue);
  padding: 0 20px 20px;
}

.hero-card-1 {
  display: flex;
  flex-direction: column;
}

.card img {
  width: 1000%;
  height: 170px;
  object-fit: cover;
  border-radius: 6px;

}

.card h3 {
  font-size: 1.2rem;
  color: var(--secondary-black);
   margin: 2rem;
  font-size: 1.75rem;
  line-height: 1.1667;
  font-weight: 300;
}

.card p {
  font-size: 0.92rem;
  line-height: 1.5;
  min-height: 110px;
  margin: 16px;
  color: var(--secondary-black);
}
  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;

  }

  .hero-image {
    height: 100%;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 24px;
    padding-bottom: 40px;
  }

  .main h2 {
   padding-top: 3rem;
  font-size: 2.5rem;
  line-height: 1.1667;
  font-weight: 300;

  }
  footer {
  
  color: var(--secondary-white);
  background-color: var(--secondary-catalina);
  border-top: 20px solid var(--primary-sunglow);
  align-items: center;
  text-align: center;
  padding-bottom: 8em;
}
}
